* {
     font-family: "Nanum Gothic Coding", monospace;
     font-style: normal;
}

body,
html {
     /* background: rgb(238, 174, 202); */
     /* background: radial-gradient(circle, rgba(238, 174, 202, 1) 6%, rgba(148, 187, 233, 1) 87%); */
     background: #FFCBF2;
     background: linear-gradient(to top right, #FFCBF2 3%, #F3C4FB 14%, #ECBCFD 22%, #E5B3FE 30%, #E2AFFF 35%, #DEAAFF 49%, #D8BBFF 66%, #D0D1FF 77%, #C8E7FF 87%, #C0FDFF 100%);
     padding-top: 20px;
     overflow: hidden;
     height: 100vh;
}

/* App Component */
.App {
     display: grid;
     grid-template-rows: 140px 32px 70vh;
     height: 100vh;
}

.headerParent {
     grid-row: 1;
}

.header {
     display: flex;
     justify-content: center;
     margin: 0px;
     padding-bottom: 40px;
     font-size: 50px;
}

.trackComponents {
     display: grid;
     grid-row: 3;
     justify-content: space-evenly;
     margin-top: 20px;
     column-gap: 60px;
     grid-template-columns: repeat(3, minmax(0, 1fr));
     max-width: 100%;
     margin-right: 80px;
     margin-left: 80px;
}

.playlistList {
     background: white;
     box-shadow: 4px 4px 4px 4px black;
     height: 60vh;
     margin-top: 16px
}

/* Playlist Component */


.playlistNameInput {
     background: white;
     width: 200px;
     height: 30px;
     border: none;
     border-radius: 10px;
     padding-left: 15px;
}

.playlistNameInputParent {
     grid-row: 2;
     margin-right: 46px;
     display: flex;
     justify-content: flex-end;
}

.saveListButton {
     background: white;
     border: none;
     margin-left: 10px;
     border-radius: 10px;
     padding: 10px;
     font-weight: bolder;
}

/* SearchBar Component  */


.searchBarInput {
     background: white;
     width: 200px;
     height: 30px;
     border: none;
     border-radius: 10px;
     padding-left: 15px;

}

.searchBarButton {
     background: white;
     border: none;
     margin-left: 10px;
     border-radius: 10px;
     padding: 10px;
     font-weight: bolder;
}

/* Track Component */


.addButton {
     border: none;
     margin-left: 10px;
     border-radius: 10px;
     padding: 10px;
     font-weight: bolder;
     color: #fefefe;
     background: #8c35ff;
     width: 60px;
     /* height: 40px; */
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.buttonAdd {
     font-size: 14px;
     font-weight: 800;
     cursor: pointer;

}


.removeButton {
     border: none;
     margin-left: 10px;
     border-radius: 10px;
     padding: 10px;
     font-weight: bolder;
     color: #fefefe;
     background: #ff5050;
     cursor: pointer;

}

.trackParent {
     display: flex;
     justify-content: space-between;
     width: 100%;
     /* height: 36px; */
}


.trackButtons {
     margin-top: 6px;
}

.trackDetails {
     margin-top: 12px;
}

/* UserPlaylists Component */

.usersPlaylist {
     padding: 20px;
     display: flex;
     flex-direction: column;
     overflow-y: scroll;
     height: 90%;
}

.playlistTitle {
     font-weight: bold;
     font-size: 20px;
     display: flex;
     justify-content: space-evenly;
}

.playlistName {
     font-size: 14px;
     font-weight: 500;
     display: flex;
     align-items: center;
}


/* Tracklist Component */

.searchedList {
     padding: 20px;
     display: flex;
     flex-direction: column;
     overflow-y: scroll;
     height: 90%;
}


/* width */
::-webkit-scrollbar {
     width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
     box-shadow: inset 0 0 0px grey;
     border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: #8c35ff;
     border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: #8c35ff;
}


/* track component */

.trackName {
     font-weight: 800;
     font-size: 14px;
}

.trackArtist {
   font-size: "12px"
}